@import "../global"

@mixin container
  max-width: 1340px
  margin: 0 auto

.hero
  padding-top: 100px
  @media screen and (width > 1440px)
    padding-top: 350px
  &--container
    @include container
    &--heading
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start
      gap: 20px
      padding-bottom: 90px
      &--title
        font-size: 100px
        letter-spacing: .4em
        @media screen and (width > 1440px)
          font-size: 136px
      &--description
        font-size: 45px
        letter-spacing: .4em
        font-family: SchoonheidItalic, 'sans-serif'
        line-height: 60px
        width: 80%
        @media screen and (width > 1440px)
          font-size: 64px
          width: 100%
    &--link,
    &--link__glitch
      font-size: 45px
      letter-spacing: .4em
      text-decoration: underline
      font-family: SchoonheidRegular, 'sans-serif'
      @media screen and (width > 1440px)
        font-size: 64px

.sign-in,
.sign-up
  padding-top: 100px
  &--container
    @include container
    &--title
      font-size: 96px
      letter-spacing: .4em
    &--form
      width: 460px
      display: flex
      flex-direction: column
      align-items: center
      gap: 20px
      padding-top: 40px
      &--input
        font-size: 24px
        font-family: CaslonBold, sans-serif
        width: 100%
        padding: 25px 0 25px 20px
        border-radius: 5px
        border: none
        background-color: $background-color
        letter-spacing: .4em
        color: rgba(203, 161, 53, 1)
        &::placeholder
          color: rgba(203, 161, 53, 0.7)
      &--button
        font-size: 24px
        font-family: CaslonBold, sans-serif
        width: 480px
        background-color: $background-color
        border: 1px solid #CBA135
        border-radius: 5px
        padding: 24px 0
        letter-spacing: .4em
        color: rgba(203, 161, 53, 1)
        text-align: center
        cursor: pointer
      &--text-wrapper
        display: flex
        flex-direction: column
        align-items: center
        &--text
          width: 480px
          font-size: 20px
          font-family: CaslonBold, sans-serif
          text-decoration: underline
          letter-spacing: .4em
          line-height: 40px
          text-underline-offset: 5px
          text-align: center
        &--sep
          font-size: 20px
          font-family: CaslonBold, sans-serif
          letter-spacing: .4em
          text-align: center

.app
  &--container
    @include container
    max-width: 1400px
    @media screen and (width > 1440px)
      max-width: 1440px
    @media screen and (width > 1880px)
      max-width: 1640px
    &--content
      position: relative
      margin-top: 50px
      width: 100%
      height: 90vh
      background-color: rgba(27, 27, 27, 0.5)
      border-radius: 5px
      border: 1px solid #CBA135
      overflow: hidden
      &--form
        position: absolute
        bottom: 0
        right: 0
        left: 200px
        display: flex
        justify-content: space-between
        align-items: center
        &--input
          width: 100%
          font-size: 18px
          font-family: CaslonBold, sans-serif
          background-color: #1B1B1B
          padding: 20px 20px
          color: #CBA135
          border: none
          letter-spacing: .4em
          &::placeholder
            color: rgba(203, 161, 53, 0.7)
            letter-spacing: .4em
          &:focus
            color: #CBA135
        &--button
          font-size: 18px
          border: none
          border-radius: 5px
          font-family: CaslonBold, sans-serif
          background-color: #1B1B1B
          padding: 20px 20px
          color: rgba(203, 161, 53, 0.7)
          letter-spacing: .4em
          cursor: pointer
          transition: 300ms ease-in
          &:hover
            background-color: #CBA135
            color: #1B1B1B

.jesus
  position: absolute
  bottom: 0
  right: 0
  z-index: -9999
  user-focus: none
  user-select: none
  pointer-events: none
  @media screen and (width > 1440px)
    right: 200px
